@model QrCodeCore.Models.FoodTypes

<div class="modal fade" id="Modal2-@Model.FoodType_Id" tabindex="-1" role="dialog" aria-labelledby="Modal1Label" aria-hidden="true" style="display:none">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="Modal1Label">Yemek Türünü Güncelleyin.</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" asp-controller="Menu" asp-action="UpdateFoodType">
                    <input type="hidden" name="FoodType_Status" value="@Model.FoodType_Status" />
                    <input type="hidden" name="FoodType_Id" value="@Model.FoodType_Id" />
                    <input type="hidden" name="FoodType_BusinessId" value="@Model.FoodType_BusinessId" />
                    <input type="hidden" name="FoodType_CreatedDate" value="@Model.FoodType_CreatedDate" />


                    <input type="text" class="form-control" name="FoodType_Name" value="@Model.FoodType_Name" />
                    <br />
                    <button type="submit" class="btn btn-primary">Yemek Türünü Güncelle</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Vazgeç</button>

            </div>
        </div>
    </div>
</div>