@model List<Foods>
@{
    ViewBag.Title = "Index";
    int counter = 1;
}
<style>
    .results tr[visible='false'],
    .no-result {
        display: none;
    }

    .results tr[visible='true'] {
        display: table-row;
    }

    .counter {
        padding: 8px;
        color: #ccc;
    }
</style>
<div class="row">
    <div class="col-12">
        <a class="btn btn-primary" asp-action="AddFood" asp-controller="Food" ><i class="bi bi-plus me-1"></i>Bir Yemek Türü Ekle</a>
    </div>
</div>
<br />
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Menünüzde bulunan kategoriler</h5>
        <!-- Table with stripped rows -->
        <div class="form-group pull-right">
            <input type="text" class="search form-control" placeholder="Aramak istediğiniz kelimeyi girin">
        </div>
        <span class="counter pull-right"></span>
        <table class="table table-hover table-bordered results">
            <thead>
                <tr>
                    <th>#</th>
                    <th class="col-md-5 col-xs-5">Yemek Adı</th>
                    <th class="col-md-4 col-xs-4">Oluşturulma Tarihi</th>
                    <th class="col-md-3 col-xs-3">Açıklaması</th>
                    <th class="col-md-3 col-xs-3">Fiyatı</th>
                    <th class="col-md-3 col-xs-3">Kategorisi</th>

                </tr>
                <tr class="warning no-result">
                    <td colspan="4"><i class="fa fa-warning"></i>Hiçbir Sonuç Bulunamadı.</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <th scope="row">@counter</th>
                        <td>@item.Food_Name</td>
                        <td>@item.Food_CreatedDate</td>
                        <td>@item.Food_Description</td>
                        <td>@item.Food_Price TL</td>
                        <td>@item.Type_Name</td>

                        <td><a href="/Food/RemoveFood/@item.Food_Id" class="btn btn-secondary"><i class="bi bi-arrow-repeat"></i></a></td>

                        <td><a href="/Food/UpdateFood/@item.Food_Id"class="btn btn-warning"><i class="bi bi-pencil"></i></a></td>
                    </tr>

                    counter++;
                }
            </tbody>
        </table>
        <!-- End Table with stripped rows -->
        
    </div>

</div>
@section Scripts{
    <script>$(document).ready(function () {
            $(".search").keyup(function () {
                var searchTerm = $(".search").val();
                var listItem = $('.results tbody').children('tr');
                var searchSplit = searchTerm.replace(/ /g, "'):containsi('")

                $.extend($.expr[':'], {
                    'containsi': function (elem, i, match, array) {
                        return (elem.textContent || elem.innerText || '').toLowerCase().indexOf((match[3] || "").toLowerCase()) >= 0;
                    }
                });

                $(".results tbody tr").not(":containsi('" + searchSplit + "')").each(function (e) {
                    $(this).attr('visible', 'false');
                });

                $(".results tbody tr:containsi('" + searchSplit + "')").each(function (e) {
                    $(this).attr('visible', 'true');
                });

                var jobCount = $('.results tbody tr[visible="true"]').length;
                $('.counter').text(jobCount + ' item');

                if (jobCount == '0') { $('.no-result').show(); }
                else { $('.no-result').hide(); }
            });
        });</script>
}


